<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMybatis:war exploded">
    <output-path>$PROJECT_DIR$/SpringMybatis/target/SpringMybatis</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringMybatis</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMybatis" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:2.0.0" />
          <element id="library" level="project" name="Maven: error:spring-framework-bom:unknown" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/SpringMybatis/target/SpringMybatis/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringMybatis/web/Web" />
    </root>
  </artifact>
</component>