<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD IOC.Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <settings>
<!--       开启二级缓存-->
       <setting name="cacheEnabled" value="true"/>
<!--       开启驼峰命名-->
       <setting name="mapUnderscoreToCamelCase" value="true"/>
   </settings>

    <typeAliases>
        <package name="Rest"/>
    </typeAliases>

    <!--       注册插件-->
    <plugins>
<!--        分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--使页面跳转合理化-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>